.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

mat-card {
    width: 500px;
    padding: 20px;
}

mat-card-header, mat-card-actions {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-selection-list{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
mat-list-option {
    width: 500px;
}

.delete-button{
    width: 40px;
    height: 40px;
}

.error-container {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; 
    border: 1px solid black;
}