<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> My Todo List with Angular</mat-card-title>
    </mat-card-header>
    <br />
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        [(ngModel)]="description"
        placeholder="Describe what to do."
      />
      @if (description) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="description = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="addTask()">ADD TASK</button>
    </mat-card-actions>

    @for(todo of todoList(); track todo.id){
    <div class="todo-containter">
      <mat-checkbox class="example-margin" [(ngModel)]="todo.done">
        {{ todo.description }}
      </mat-checkbox>
      <button
        class="delete-button"
        mat-fab
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    } @empty {
    <div class="error-container">
      <p>No Record added.</p>
    </div>
    }
  </mat-card>
</div>
